@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#__nuxt {
		height: 100%;
	}

	@font-face {
		font-family: 'Clash Grotesk Variable';
		src: url(~/assets/fonts/ClashGrotesk-Variable.woff2);
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: 'Clash Grotesk Bold';
		src: url(~/assets/fonts/ClashGrotesk-Bold.woff2);
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: 'Clash Grotesk Semibold';
		src: url(~/assets/fonts/ClashGrotesk-Bold.woff2);
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter Regular';
		src: url(~/assets/fonts/Inter-Regular.woff2);
		font-weight: 400;
		font-display: swap;
	}

	html {
		font-size: 62.5%;
		font-family: 'Inter Regular';
		font-weight: 400;
		color: var(--dark);
	}


	.text-h1,
	.text-h2,
	.text-h3,
	.text-h4,
	.text-h5 {
		font-family: 'Clash Grotesk Bold';
	}

	.link,
	button {
		font-family: 'Clash Grotesk Semibold';

	}

	.link {
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 150% */
	}

	@screen md {
		h1 {
			@apply text-h1;
		}

		h2 {
			@apply text-h2;
		}

		h3 {
			@apply text-h3;
		}

		h4 {
			@apply text-h4;
		}
	}
}

@layer components {
	.section-padding {
		padding: 0 2rem;
	}

	@screen 2xl {
		.container {
			max-width: 1280px;
		}
	}
}

@layer utilities {
}
