@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#__nuxt {
		height: 100%;
	}

	@font-face {
		font-family: 'Clash Grotesk Variable';
		src: url(~/assets/fonts/ClashGrotesk-Variable.woff2);
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: 'Clash Grotesk Bold';
		src: url(~/assets/fonts/ClashGrotesk-Bold.woff2);
		font-weight: 700;
		font-display: swap;
	}

	@font-face {
		font-family: 'Clash Grotesk Semibold';
		src: url(~/assets/fonts/ClashGrotesk-Bold.woff2);
		font-weight: 600;
		font-display: swap;
	}

	@font-face {
		font-family: 'Clash Grotesk Medium';
		src: url(~/assets/fonts/ClashGrotesk-Medium.woff2);
		font-weight: 500;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter Regular';
		src: url(~/assets/fonts/Inter-Regular.woff2);
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter SemiBold';
		src: url(~/assets/fonts/Inter-SemiBold.woff2);
		font-weight: 600;
		font-display: swap;
	}

	html {
		font-size: 62.5%;
		font-family: 'Inter Regular';
		font-weight: 400;
		color: var(--dark);
	}


	.text-h1-mobile,
	.text-h1,
	.text-h2,
	.text-h3,
	.text-h4
	 {
		font-family: 'Clash Grotesk Semibold';
	}

	.link,
	.text-h5,
	button {
		font-family: 'Clash Grotesk Medium';
	}

	.link {
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 150% */
	}

	.bolder {
		font-family: 'Inter SemiBold';
	}

	.link:hover {
		text-decoration: underline;
		color: #495057;
	}

	.social-media-link {
		display: flex;
		width: 48px;
		height: 48px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 100px;
		border: 2px solid var(--Black, #0C1416);
		color: black;
		background: var(--White, #FFF);
		box-shadow: 2px 2px 0px 0px #000;
		transition: all 0.1s ease-in-out;
	}

	.social-media-link:hover {
		background: var(--Blue, #5258F3);
		color: white;
	}

	@screen md {
		h1 {
			@apply text-h1;
		}

		h2 {
			@apply text-h2;
		}

		h3 {
			@apply text-h3;
		}

		h4 {
			@apply text-h4;
		}
	}
}

@layer components {
	.section-padding {
		padding: 0 2rem;
	}

	@screen 2xl {
		.container {
			max-width: 1280px;
		}
	}
}

@layer utilities {
}
